body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel {
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    width: 300px;
    padding: 0.5rem;
    transform: translateY(20%);
}

.header-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.footer {
    width: 300px;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.footer button {
    width: 200px;
    background-color: lightblue;
    font-size: 1.5rem;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    border: 5px solid chocolate;
    font-weight: bold;
}

.footer button:hover {
    background-color: chocolate;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 30rem;
    background-color: bisque;
    border: 8px solid burlywood;
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.gameCircle {
    height: 100px;
    margin: 1%;
    border-radius: 50%;
    border: 5px solid black;
    width: 20%;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    background-color: bisque;
    color: black;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.player_0 {
    background-color: white;
}

.player_1 {
    background-color: blue;
}

.player_2 {
    background-color: red;
}

@media (max-width: 768px) {

    .panel {
        width: auto;
    }

    .footer {
        width: 200px;
    }

    .footer button {
        width: 160px;
        margin: 6px;
    }

    .gameBoard {
        width: 19rem;
        height: 19rem;
    }

    .gameCircle {
        width: 1%;
        height: 1.1px;
        margin: 4.1px;
        padding: 9%;
    }

}